body{
  padding: 0;
  margin: 0;
}
.header{
  width: 100%;
  height: 45px;
  background: rgb(255, 78, 77);
  color: #fff;
  text-align: center;
  font-size: 12px;
}
h2{
  margin: 0;
   font-family: sans-serif;
}
.header h2{
  position: relative;
  top: 12px;
  font-weight: lighter;
}
div.logo{
  display: inline-block;
    float: left;
    margin-left: 170px;
    margin-top: 30px;

}
ul li a{
  text-decoration: none;
  color: black;
  font-variant: small-caps;
  margin: 10px;
  font-size: 18px;
  font-weight: 545;
  font-family: sans-serif;
}
div.drop li{
display: inline-block;

}
.login h5{
  display: inline-block;
}
.drop{
  display: inline-block;
  float: left;
  margin-top: 15px;
  margin-left: 30px;

}
.login{
  display: inline-block;
  font-family: sans-serif;
  margin: 8px 0;
  font-size: 18px;
}
.content{
  text-align: center;
  height: 65px;

}
.help{
margin-left: 80px;
}
.sub{
  margin-left: 150px;
}
.drop a:hover{
  color: red;
}
.login h5:hover{
  text-decoration: underline;

}
.downa a {
  display: block;
  font-size: 15px;
  transition: background-color 5s linear;


}
.downa{
  display: none;
  position:absolute;
  background: #f9f9f9;
  margin-top: 32px;

}
.dc:hover .downa{
  display: block;
}
.downa a:hover{
  color: gray;
  text-decoration: underline;

}
.body{
  height: 1900px;
  background-image: url('img.jpg' ) ;
  background-repeat: no-repeat;

}
